*{
    margin: 0;
    padding: 0;
}

.header .box1{
    background-color: rgb(255, 255, 255);
    height: 90px;
    box-shadow: 4px 3px 5px rgba(0,0,0,0.1);
}
.box1 .img1{
    margin-left: 120px;
}

.sec1{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
}

.img2 img{
    height: 550px;
}

.box2{
    margin-left: 90px;
}

.box2 h1{
    font-size: 90px;
    padding: 10px 0;
    
}
.box2 h6{
    font-size: 17px;
    background-color: rgb(13, 201, 0);
    width: 270px;
    color: white;
    letter-spacing: 4px;
    font-weight: 10;
    padding: 2px;
    text-align: center;
    
}
.box2 h7{
    font-weight: 100;
    
    
}
.box2 h4{
    background-color: rgb(215, 208, 0);
    font-size: 20px;
    text-align: center;
    width: 120px;
    padding: 4px;
    margin: 15px 0;
}

.work .grid_items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    max-width: 1400px;
    margin: 20px;
    margin-left: 60px;
    
}

.card_content:hover{
    box-shadow: 4px 3px 5px rgba(0,0,0,0.3);

}

.card_content{

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 3px 5px rgba(0,0,0,0.1);
    width: 400px;
    height: 90px;
    border-radius: 10px;
    

}

.card_content .img3 img{
    height: 45px;
    padding: 10px;
    padding-top: 20px;
}
.card_content .box3 h3{
    font-size: 25px;
}
.card_content .box3 p{
    font-size: 20px;
}

.menu h4{
    background-color: rgb(0, 200, 0);
    color: white;
    font-weight: 300;
    letter-spacing: 6px;
    width: 115px;
    margin: 10px auto;
    padding-left: 6px;
    
}
.menu h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.ourmenu{

    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

}

.menu1{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}

.item3{
    grid-area: I3;
}

.item4{
    grid-area: I4;
}

.item5{
    grid-area: I5;
}

.item6{
    grid-area: I6;
}

.item7{
    grid-area: I7;
}
.footer{
    background-color: rgb(255, 248, 200);
    height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.footer .img4{
    margin-left: 60px;
    margin-bottom: 50px;
}
